HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerEntityWebService/PartnerEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerEntityWebService/PartnerEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getNumberOfRoomsThisRoomTypeAvailableForReserve">
<part name="parameters" element="tns:getNumberOfRoomsThisRoomTypeAvailableForReserve"/>
</message>
<message name="getNumberOfRoomsThisRoomTypeAvailableForReserveResponse">
<part name="parameters" element="tns:getNumberOfRoomsThisRoomTypeAvailableForReserveResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="getReservationAmount">
<part name="parameters" element="tns:getReservationAmount"/>
</message>
<message name="getReservationAmountResponse">
<part name="parameters" element="tns:getReservationAmountResponse"/>
</message>
<message name="partnerSearchRoom">
<part name="parameters" element="tns:partnerSearchRoom"/>
</message>
<message name="partnerSearchRoomResponse">
<part name="parameters" element="tns:partnerSearchRoomResponse"/>
</message>
<message name="NoRoomTypeAvaiableForReservationException">
<part name="fault" element="tns:NoRoomTypeAvaiableForReservationException"/>
</message>
<portType name="PartnerEntityWebService">
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getNumberOfRoomsThisRoomTypeAvailableForReserve">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getNumberOfRoomsThisRoomTypeAvailableForReserveRequest" message="tns:getNumberOfRoomsThisRoomTypeAvailableForReserve"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getNumberOfRoomsThisRoomTypeAvailableForReserveResponse" message="tns:getNumberOfRoomsThisRoomTypeAvailableForReserveResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getNumberOfRoomsThisRoomTypeAvailableForReserve/Fault/ParseException"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getNumberOfRoomsThisRoomTypeAvailableForReserve/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="getReservationAmount">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getReservationAmountRequest" message="tns:getReservationAmount"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getReservationAmountResponse" message="tns:getReservationAmountResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getReservationAmount/Fault/ParseException"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/getReservationAmount/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="partnerSearchRoom">
<input wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerSearchRoomRequest" message="tns:partnerSearchRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerSearchRoomResponse" message="tns:partnerSearchRoomResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerSearchRoom/Fault/ParseException"/>
<fault message="tns:NoRoomTypeAvaiableForReservationException" name="NoRoomTypeAvaiableForReservationException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerSearchRoom/Fault/NoRoomTypeAvaiableForReservationException"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerEntityWebService/partnerSearchRoom/Fault/RoomTypeNotFoundException"/>
</operation>
</portType>
<binding name="PartnerEntityWebServicePortBinding" type="tns:PartnerEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getNumberOfRoomsThisRoomTypeAvailableForReserve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getReservationAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerSearchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="NoRoomTypeAvaiableForReservationException">
<soap:fault name="NoRoomTypeAvaiableForReservationException" use="literal"/>
</fault>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerEntityWebService">
<port name="PartnerEntityWebServicePort" binding="tns:PartnerEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerEntityWebService/PartnerEntityWebService"/>
</port>
</service>
</definitions>